@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

.header1 {
    background-color: grey;
    padding: 20px 20px;
} 

.pagetitle,
.titlefooter {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.navlinks li {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;

}

.navlinks li a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}
.navlinks a:hover {
    color: violet;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

footer {
    background-color: grey;
    margin-top: 40px;
    padding: 20px 20px;
    
}

body {
    background-color: silver;
    width: 80%
}

p {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

img {
    width: 100%;
    height: 100%;
}

/* --- media queries --- */

@media (min-width: 320px) {

    body {
        width: 100%;
        margin: 0 auto;
    }

    .hide {
        display: none;
    }

    .header1,
    .topnav ul,
    .pagetitle,
    .maincolumns,
    .firstrow,
    .secondrow,
    .bottom,
    footer,
    .titlefooter {
        display: flex;
    }

    footer,
    .titlefooter {
        flex-direction: row;
        justify-content: space-between;
    }

    footer,
    .titlefooter {
        flex: 1;
    }

    .titlefooter {
        margin-right: auto;
    }

    .header1,
    .topnav ul, 
    .pagetitle,
    .maincolumns,
    .firstrow,
    .secondrow,
    .bottom {
        flex-direction: column;
        align-items: center;
    }

    .topnav ul {
        flex-wrap: wrap;
    }

    .topnav ul li {
        padding: 10px;
    }

    .maincolumns div {
        padding: 40px;
        text-align: center;
        flex: 1;
    }
    

    .pagetitle {
        padding-bottom: 10px;
    }

    .firstrow div,
    .secondrow div,
    .thirdrow div {
        padding: 40px;
    }

    .bottom p {
        padding: 10px;
    }

    .firstrow div p,
    .secondrow div p,
    .thirdrow div p,
    .bottom {
        text-align: center;
    }


}

@media (min-width: 768px) {

    body {
        width: 100%;
        margin: 0 auto;
    }


    .firstrow div p,
    .secondrow div p,
    .thirdrow div p {
        text-align: center;
    }

    .header1,
    .topnav ul,
    .pagetitle,
    .maincolumns,
    .firstrow,
    .secondrow,
    .thirdrow,
    .bottom
    footer {
        display: flex;
    }

    .header1, 
    .pagetitle,
    .bottom {
        flex-direction: column;
    }

    .topnav ul,
    .maincolumns,
    .firstrow,
    .secondrow,
    .thirdrow,
    footer  {
        flex-direction: row;
    }

    .topnav ul,
    .header1, 
    .maincolumns,
    .firstrow,
    .secondrow,
    .thirdrow,
    footer {
        justify-content: space-between;
        align-items: center;
    }

    .maincolumns div {
        align-self: center;
        padding: 60px 30px;
        flex: 1;
    }

    .pagetitle {
        padding-bottom: 10px;
    }

    .navlinks li {
        display: inline-block;
    }

}

@media (min-width: 1024px) {

    body {
        width: 100%;
        margin: 0 auto;
    }

    .header1,
    .pagetitle,
    main {
        display: flex
    }

    .header1,
    .pagetitle {
        flex-direction: row;
        justify-content: space-between;
    }
    .pagetitle {
        padding: 0px;
    }

    main section {
        flex-wrap: wrap;
    }

    .navlinks li {
        display: inline-block;
    }

}


